body {
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif !important;
    font-size: 16pt !important;
    background-color: rgba(0, 100, 211, 0.05) !important;
}

.error {
    color: darkred;
}

@media (min-width: 768px) {
}