.ochess-title {
    font-size: 54pt;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgba(20, 20,  15, 0.9);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.authBox {
    border: 0px solid rgba(20, 167, 75, 0.1);
    border-radius: 10px;
    margin-top: 20%;
    padding: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.error {
    color: darkred;
}

.authBox input {
    width: 100%;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}