body {
    font-family: 'Oswald', sans-serif !important;
    font-size: 16pt !important;
    background-image: url('/images/bg.png');
    width: 1920px;
}

.error {
    color: darkred;
}

.base-input {
    padding: 8px;
    border-radius: 0px;
    border: 1px solid rgba(20, 20, 20, 0.2);
    font-size: 12pt;
}

.base-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.base-button:hover {
    background-color: rgba(0, 0, 0, 1);
}

@media (min-width: 1920px) {
    body {
        width: 100%;
    }
}