.playing {
    font-size: 24pt;
    margin-right: 30px;
}

.hidden {
    visibility: hidden;
}

.player {
    font-size: 24pt;
    margin-right: 30px;
    padding: 20px;
}

.white {
    background-color: white;
    color: black;
    border: 2px solid midnightblue;
}

.black {
    background-color: black;
    color: white;
    border: 2px solid midnightblue;
}

.nav {
    height: 200px;
    background-color: cadetblue;
}


#mainscreen {
    left: 5%;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}
#gameinfo {
    top: 0;
    width: 120px;
    float: left;
}

#gameinfo label {
    width: 120px;
    height: 140px;
    background-color: aliceblue;
    border: darkgrey;
    font-size: 54pt;
    padding: 20px 30px 20px 30px;
}