.player {
    font-size: 24pt;
    background-color: black;
    color: ghostwhite;
    margin-right: 30px;
    padding: 20px;
}

.nav {
    height: 200px;
    background-color: cadetblue;
}

#board {
    border: 2px solid black;
}

#mainscreen {
    left: 5%;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}
#gameinfo {
    top: 0;
    width: 120px;
    float: left;
}

#gameinfo label {
    width: 120px;
    height: 140px;
    background-color: aliceblue;
    border: darkgrey;
    font-size: 54pt;
    padding: 20px 30px 20px 30px;
}