#topBar {
    width: 100%;
}

.tbContainer {
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0, 0.75);
}

#topBar .tbContainer a {
    margin-left: 20px;
    margin-right: 10px;
    float: right;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#topBar .tbContainer a .glyphicon {
    color: rgba(0, 0, 0, 1);
}

#topBar .tbContainer a:visited .glyphicon {
    color: rgba(0, 0, 0, 1);
}

#topBar .tbContainer a:link .glyphicon {
    color: rgba(0, 0, 0, 1);
}

#topBar .tbContainer a:hover .glyphicon {
    color: rgba(0, 0, 0, 1);
}

#topBar .tbContainer a .glyphicon {
    font-size: 36pt;
}


#topBar .tbContainer {
    float: right;
}

#navigationDetails {
    float: right;
    margin-right: 20px;
    font-size: 24pt;
}

#lobbies {
    position: absolute;
    top: 120px;
    width: 90%;
    margin-left: 5%;
    background-color: whitesmoke;
    padding: 100px 20px 20px 20px;
}

#lobbies table th {
    background-image: url('/images/bg.png');
    color: white;
    padding: 10px;
    width: 20%;
}

#lobbies table td {
    padding: 10px;
}

#lobbies table tr:nth-child(even) {
    background-color: darkgray;
}

#gameContainer {
    margin-left: 50px;
    background-color: whitesmoke;
    width: calc(100% - 100px);
    height: 1200px;
    padding: 20px;
}

#board {
    display: inline-block;
    border: 2px solid black;
    position: absolute;
    top: 140px;
    left: 262px;
}

.playerLabel {
    display: inline-block;
    position: absolute;
    width: 200px;
    border: 2px solid black;
    left: 60px;
    font-size: 16pt;
    text-align: center;
    vertical-align: center;
}

#whitePlayer {
    top: 1150px;
    background-color: white;
    color: black;
}

#blackPlayer {
    top: 140px;
    background-color: black;
    color: white;
}

.popup {
    background-color: whitesmoke;
    position: absolute;
    top: 300px;
    padding: 15px;
    border: 1px solid black;
}

#surrenderPopup {
    display: none;
    left: calc(50% - 350px);
    width: 700px;
    height: 300px;
}

#pawnTransformPopup {
    left: calc(50% - 250px);
    width: 500px;
    height: 300px;
    display: none;
}

.popup .title {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: lightsteelblue;
}

.popup .choices {
    float: right;
}

.popup .choices .base-button{
    float: right;
    font-size: 18pt;
}

#popupBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.upgradePiece {
    margin-left: 25px;
    margin-right: 20px;
}

#gameChat {
    border: 2px solid black;
    position: absolute;
    top: 140px;
    left: 1350px;
    width: 480px;
    height: 1044px;
    background-color: rgba(0, 120, 230, 0.08);
}

#gameChat #messages {
    overflow-y: scroll;
    height: 980px;
}

#gameChat #messages .message {
    background-color: rgba(0, 0, 0, 0.08);
}

#gameChat #messages .dark {
    background-color: rgba(0, 0, 0, 0.12);
}

.sender {
    font-weight: bolder;
}

#gameChat #messageInput {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border: 0;
    position: absolute;
    padding: 10px;
    height: 60px;
    border-top: 2px solid black;
    top: calc(100% - 60px);
}

@media (min-width: 1920px) {
    #gameChat {
        width: calc(100% - 1490px);
    }
}