<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Playing vs TBD!</title>
    <div th:replace="ref :: referrence"></div>
    <script th:src="@{/js/game.js}" type="application/javascript"></script>
    <link th:href="@{/css/game.css}" rel="stylesheet" type="text/css"/>
</head>
<body onload="onLoad()">
<!--

    Navigation bar, surrender, tutorial etc..
 -->

<th:block th:if="false">
    <th:block th:fragment="content">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md"><label class="player" id="p1">Player 1</label><label class="player" id="p2">Player 2</label></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <canvas id="board" width="800px" height="800px">
                    <img id="wh_pawn" th:src="@{/images/wh_pawn.png}" />
                    <img id="bl_pawn" th:src="@{/images/bl_pawn.png}" />
                    <p>plain html support coming soon</p>
                </canvas>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>
    </th:block>
</th:block>


<th:block th:with="cls='game'">
    <div th:replace="nav :: navigation"></div>
</th:block>

</body>
</html>
