<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login to OChess</title>
    <div th:replace="ref :: referrence"></div>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <form class="authBox" th:action="@{/login}" th:object="${user}" method="POST">
                <div class="form-group">
                    <label for="loginUser">User: </label>
                    <input type="text" class="form-control" id="loginUser" aria-describedby="emailHelp"
                           placeholder="Enter username" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="loginPass">Password: </label>
                    <input type="password" class="form-control" id="loginPass" placeholder="Password" th:field="*{password}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md"></div>
    </div>
</div>
</body>
</html>
