<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login to OChess</title>
    <link th:href="@{/css/auth.css}" rel="stylesheet" type="text/css" />
    <th:fragment th:replace="ref :: referrence"></th:fragment>
</head>
<body>

<div class="container25 top5">
    <form class="authBox" th:action="@{/login}" method="POST">
        <label for="loginUser" style="color: black;">User: </label><br/>
        <input type="text" class="base-input" id="loginUser" aria-describedby="emailHelp"
               placeholder="Enter username" name="username"><br/>
        <label for="loginPass" style="color: black;">Password: </label><br/>
        <input type="password" name="password" class="base-input" id="loginPass" placeholder="Password"><br/>
        <span class="error" th:text="${error}"></span><br/>
        <button type="submit" class="base-input base-button">LOGIN</button><br/>
        <a th:href="@{/register}">No account? register instead.</a><br/>
    </form>
</div>
</body>
</html>
