<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
    <div th:replace="ref :: referrence"></div>
</head>
<body>
<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
        <form th:action="@{/register}" method="POST" class="authBox" th:object="${user}">
            <div class="form-group">
                <label for="registerUser">User: </label>
                <input type="text" class="form-control" id="registerUser" aria-describedby="emailHelp"
                       placeholder="Enter username" th:field="*{name}">
                <p th:each="error: ${#fields.errors('name')}" th:text="${error}"></p>
            </div>
            <div class="form-group">
                <label for="registerPass">Password: </label>
                <input type="password" class="form-control" id="registerPass" placeholder="Password"
                       th:field="*{password}">
                <p th:each="error: ${#fields.errors('password')}" th:text="${error}"></p>
            </div>
            <div class="form-group">
                <label for="registerPassVerification">Re-enter password: </label>
                <input type="password" class="form-control" id="registerPassVerification" placeholder="Password again"
                       th:field="*{matchingPassword}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md"></div>
</div>

</body>
</html>
