.white {
    background-color: white;
}

.gray {
    background-color: gray;
}

.player {
    font-size: 24pt;
    background-color: black;
    color: ghostwhite;
    margin-right: 30px;
    padding: 20px;
}

.nav {
    height: 200px;
    background-color: cadetblue;
}

#mainscreen {
    left: 5%;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}

#board {
    border: 2px solid black;
    padding: 0;
}

#board, #chessboard {
    top: 0;
    margin-left: 10%;
    width: 800px;
    height: 800px;
    float: left;
}

#board td {
    width: 10%;
    height: 10%;
    transition: 0.25s;
    outline-offset: -7px;
    align-content: center;
    vertical-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#board td image {
    pointer-events: none;
}

#gameinfo {
    top: 0;
    width: 120px;
    float: left;
}

#gameinfo label {
    width: 120px;
    height: 140px;
    background-color: aliceblue;
    border: darkgrey;
    font-size: 54pt;
    padding: 20px 30px 20px 30px;
}